  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.min.js" ></script>
    <script src="js/controllers.js"></script>
    <script src="js/google-analytics.js"></script>
    <script src="js/coinbase-post-payment.js"></script>
    <script src="https://coinbase.com/assets/button.js"></script>

    <link rel="stylesheet" href="css/bootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="css/social-buttons.css">
    <link rel="stylesheet" href="css/bitstarter-styles.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">

<!-- added override font link for quick fix -->
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">

<!-- added for ribbon -->
    <link href="css/ribbon_n_extra.css" rel="stylesheet" type="text/css">
  </head>

