<div id="ribbon" class="github-fork-ribbon-wrapper right" style="pointer-events: none;">
     <div class="github-fork-ribbon">
          <a href="/about" style="pointer-events: all;">Site in Progress<br/><span class="smalltext">Please come back soon!</span> </a>
     </div>
</div>
