<!DOCTYPE html>
<html lang="en" ng-app>

  <head>


<meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery.js"></script>
<!--
    <script src="js/bootstrap.js"></script>
-->
<!--
    <script src="js/angular.min.js" ></script>
    <script src="js/controllers.js"></script>
    <script src="js/google-analytics.js"></script>
-->
<!--    <script src="js/coinbase-post-payment.js"></script>
    <script src="https://coinbase.com/assets/button.js"></script>

    <link rel="stylesheet" href="css/ribbon_n_extra.css">
    <link rel="stylesheet" href="css/social-buttons.css"> 
    <link rel="stylesheet" href="css/bitstarter-styles.css"> affects footer -->
    <link rel="stylesheet" href="css/bootstrap-combined.no-icons.min.css">
<!--
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.\
css">
-->


  </head>

  <body>
    <div>

      <% include faqs %>

      <% include footer %>

    </div>

    <% include ganalytics %>

  </body>
</html>
