<!DOCTYPE html>
<html lang="en" ng-app>
<!--
  <head>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

  </head>
-->
<% include head %>

  <body>
    <div>

      <% include faqs %>

      <% include footer %>

    </div>

    <% include ganalytics %>

  </body>
</html>
