<!DOCTYPE html>
<html lang="en">

  <head>

<!--
<meta charset="utf-8">
-->
    <title><%= title %></title>

    <script src="js/jquery.js"></script>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
-->
    <script>
      <% include bootattempt %>
    </script>

    <style>
      <% include cssattempt %>

    </style>
<!--
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/bootstrap-combined.no-icons.min.css">
-->


  </head>

  <body>
    <div>

      <% include faqs %>

    </div>

    <% include ganalytics %>

  </body>
</html>
